<!DOCTYPE html>
<html>
  <head>
    <title>TableDance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
  <button> <%= link_to 'New Zorra', new_zorra_path %></button>
<button> <%= link_to 'Reports', zorras_reportes_path %></button>
<button><%= link_to 'Atrás', zorras_path %></button>
    <%= yield %>
  </body>
</html>
